<button type="button" {{on "click" this.loginWithGoogle}}>Login with Google</button>
<button type="button" {{on "click" this.loginWithFacebook}}>Login with Facebook</button>
<button type="button">Login with Twitter</button>